body{
        background: rgb(232, 209, 180)
        
      }
      .top{
        
      }
      .description{
        width: 600px;
        margin-left 20px;
      }
      
      .left{
        width: 600px;
        float: left;
        margin-right: 20px;
      }
      .right {
        width: 600px ;
        float: left;
        margin-left: 20px ;

      }
            p {
                color: rgb(48, 41, 41);
                .description 
            }

            h2 {
                color: rgb(47, 36, 36);  
            } 
            
            h1{
                color:rgb(37, 23, 23);
                font-family: "sans-serif", "consolas";
                font-style: italic; }
            
