body{
  background: rgb(226, 201, 173);
  }

  @media screen and (min-width: 1025px) {
    body {
      background:#f4d0c0; 

    }
  }

#myBox{
  background-color: rgb(233, 229, 210);
  width: 100px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: right;
}
  #myButton{
    font-size: 1rem;
  }

  .checked {
    text-decoration: line-through;
  }

      .top{
      }

      .checked {
        text-decoration: line-through;
      }

      .description{
        width: 600px;
        margin-left 20px;
      }

      ul {
        list-style-type: none;
      }
      
      strikethrough:checked + label {
        text-decoration:line-through
      }

      .left{
        width: 600px;
        float: left;
        margin-right: 20px;
      }
      .right {
        width: 600px ;
        float: left

        margin-left: 20px ;
      }
            p {
                color: rgb(53, 45, 45);
                .description 
            }

            h2 {
                color: 
                rgb(75, 65, 65);  
            } 
            
            h1 {
                color:rgb(37, 23, 23);
                font-family: "sans-serif", "consolas";
                font-style: italic; }
                font-size: medium;
            
